@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: 1.5px solid #fff;
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #000;
  background: #fff;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sky {
  background: url('../img/sky.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.bushes {
  background: url('../img/bushes.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-525px) scale(2.75);
  z-index: 2;
}

.water {
  background: url('../img/water.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-400px) scale(2.33333333);
  z-index: 3;
}

.people1 {
  background: url('../img/people1.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.833333333);
  z-index: 4;
}

.people2 {
  background: url('../img/people2.png') no-repeat center;
  background-size: cover;
  transform: translateZ(-125px) scale(1.4167);
  z-index: 5;
}

.people3 {
  background: url('../img/people3.png') no-repeat center;
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 6;
}

.hero-text {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}

.hero-text h2 {
  font-size: 1.25rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.hero-text ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.hero-text ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.hero-text ul li:nth-of-type(3) {
  visibility: visible;
}

.year-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 25rem;
}

.year-container h1 {
  font-family: Bebas, sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 12.5rem;
}

.year-container h1:nth-of-type(1) {
  top: 10%;
}

.year-container h1:nth-of-type(2) {
  left: 30%;
  bottom: 0;
}

.year-container h1:nth-of-type(3) {
  top: 0;
  right: 30%;
}

.year-container h1:nth-of-type(4) {
  right: 0;
  bottom: 20%;
}

.social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.info-container {
  background: #000;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-container img {
  width: 75%;
  margin-bottom: 2.5rem;
  filter: saturate(0.65);
}

.info-container h2,
.info-container p {
  margin-bottom: 1rem;
}

.text-container p:nth-of-type(1) {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1rem 2.5rem;
}

.text-container p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 3rem;
}

@media (min-width: 760px) {
  .hero-text ul li {
    visibility: visible;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    text-align: left;
  }

  .info-container img {
    justify-self: end;
    width: 75%;
  }

  .text-container p:nth-of-type(1) {
    font-size: 1rem;
    width: 75%;
    margin: 1rem 0;
  }

  .text-container p:nth-of-type(1) {
    font-size: 0.86rem;
  }
}

@media (min-width: 1126px) {
  .sky,
  .bushes,
  .water,
  .people1,
  .people2,
  .people3,
  .hero-text {
    background-size: contain;
  }
}
